.label_wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
  .title {
    display: inline-block;
    width: 48px;
    font-size: 14px;
  }
  :global {
    .input_wrapper {
      padding: 12px 0 0;
      .van-field__body {
        flex-grow: 1;
        min-height: var(--input-min-height);
        max-width: 100%;
        border: 1px solid var(--input-border-color);
        border-radius: var(--input-radius);
        font-size: 16px;
        font-family: inherit;
        padding: 0 16px;
        box-shadow: inset 0 0 3px var(--input-shadow);
      }
    }
  }
}
.sign_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .select_wrapper {
    display: flex;
    align-items: center;
  }

  .title {
    display: inline-block;
    max-width: 248px;
    margin-right: 8px;
  }
}

.signError {
  color: red;
  font-size: 12px;
  padding-left: 14px;
}

.tips {
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}

.svgIcon {
  width: 16px;
  height: 16px;
}

.wrapper {
  position: relative;
  z-index: -1;
}
