.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  .title {
    color: var(--select-title-text);
    font-size: 16px;
    margin-right: 16px;
  }
  .select {
    width: 128px;
    height: 28px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-radius);
    padding: 0 16px;
    outline: none;
  }
}
