@import "../assets/stylesheets/reset.scss";

.wrapper {
  height: calc(100vh - var(--welcome-nav-height));
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--welcome-bg-start) 0%,
    var(--welcome-bg-end) 100%
  );
  margin-bottom: var(--welcome-nav-height);

  > header {
    flex-shrink: 0; /* 不收缩：默认是1，表示收缩 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;

    > img {
      width: 64px;
      height: 68.97px;
      opacity: 1;
    }

    > h1 {
      color: #d4d4ee;
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
      letter-spacing: 0em;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* 拉伸：默认是0，表示不拉伸 */
    position: relative;
    margin: 16px 16px var(--welcome-nav-gap);
  }

  > footer {
    flex-shrink: 0;
  }
}

.slide_fade_enter_active,
.slide_fade_leave_active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.slide_fade_enter_from {
  transform: translateX(100vw);
}
.slide_fade_leave_to {
  transform: translateX(-100vw);
}
