:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5d33be;
  --welcome-bg-end: #8f4cd7;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;

  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;

  --transition-duration: 0.5s;

  --button-bg: #5c33be;
  --button-bg-danger: #e10505;
  --button-text: white;
  --button-font-size: 15px;
  --button-radius: 8px;
  --button-height: 48px;
  --button-border-color: #ddd;
  --button-bg-key: white;
  --button-bg-form: #7d59d0;

  --float-button-text: white;
  --float-button-bg: var(--button-bg);

  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text: white;

  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --overlay-user-bg: #8b66e1;
  --overlay-user-text: white;

  --top-safe-area-height: 24px;

  --amount-text: #53a867;

  --date-text: #333;

  --main: #5c33be;

  --tag-bg: #efefef;

  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);

  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;

  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: #999;

  --total-bg: #252a43;
  --total-text: white;
  --total-income: #fe7275;
  --total-expenses: #53a867;

  --dialog-header-text: white;

  --bg: white;

  --app-name-text: #7878ff;

  ---select-title-text: #333;
}
